---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Header from '@/components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="max-w-5xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
			<section>
				<h1 class="text-4xl font-bold mb-8 text-center">Blog</h1>
				<p class="text-lg mb-12 text-center max-w-3xl mx-auto text-gray-600">
					Mis pensamientos sobre tecnología, desarrollo, datos y aprendizaje. Ideas que espero te resulten útiles e interesantes.
				</p>
				<ul class="flex flex-wrap gap-4 list-none m-0 p-0 md:gap-8">
					{
						posts.map((post) => (
							<li class:list={[
								'card',
								'bg-base-100',
								'shadow-md',
								'hover:shadow-xl',
								'transition-shadow',
								'w-full', // Default to full width on small screens
								post === posts[0] ? 'text-center' : '', // Conditional text-center for first item
								post === posts[0] ? '' : 'md:w-[calc(50%-1rem)]', // Conditional width for non-first items on md+
							]}>
								<a href={`/blog/${post.id}/`} class="block group no-underline transition-all duration-200 ease-in-out">
									<figure class="rounded-xl overflow-hidden mb-2">
										<img
											width={720}
											height={360}
											src={post.data.heroImage}
											alt=""
											class="w-full object-cover group-hover:shadow-xl"
										/>
									</figure>
									<div class="card-body p-4">
										<h4 class:list={[
											'card-title',
											'm-0',
											'leading-tight',
											post === posts[0] ? 'text-4xl sm:text-2xl' : '', // Larger title for first item
										]}>
											{post.data.title}
										</h4>
										<p class="m-0 text-[rgb(var(--gray))] text-sm group-hover:text-[rgb(var(--accent))]">
											<FormattedDate date={post.data.pubDate} />
										</p>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
